<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<p>
    <form action="/create_new_user" method="get" name="newUser">
    <button type="submit">Create New User</button>
    </form>
</p>

<p>
    <form action="/del_user" method="get" name="dUser">
    <button type="submit">Delete User</button>
    </form>
</p>
<p>
    <form action="/modify_user" method="get" name="mUser">
    <button type="submit">Modify User</button>
    </form>
</p>

</body>
</html>