<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <form action="/get_new_credentials" method="post" name="loginForm">
        <p>
            <label for="userName">Username</label>
            <input type="text" name="userName" />
        </p>

        <p>
            <label for="sys_pass">System password</label>
            <input type="text" name="sys_pass" />
        </p>
        <p>
            <label for="userPassword">Password</label>
            <input type="password" name="userPassword" />
        </p>


        <p>
            <label for="shell">Shell type</label>
            <input type="text" name="shell" />
        </p>

        <p>
            <label for="home_folder">Home folder</label>
            <input type="text" name="home_folder" />
        </p>
        <input type="checkbox" name="superuser" value="True"> SUDO Permission<br>
        <p>
            <button type="submit">Submit</button>
        </p>
    </form>
</body>
</html>